*.~
*~
*.old
*.bak
*.orig

.*
*.o
*.o.*

modules.builtin

*.elf
*.bin
*.gz
*.bz2
*.lzma
*.xz
*.lzo
*.patch
*.gcno

/tags
/TAGS
/linux
/vmlinux
/vmlinuz
/System.map
/Module.markers
/Module.symvers

.gitignore
!.gitignore
!.mailmap
.mailmap

out/
abi/
art/
auto_sync_android.log
bionic/
bootable/
build/
cts/
dalvik/
developers/
development/
device/
docs/
external/
frameworks/
hardware/
libcore/
libnativehelper/
makeKernel.sh
ndk/
packages/
pdk/
prebuilts/
script/
sdk/
system/
tools/
vendor/
mediatek/binary/
mediatek/device/
mediatek/external/
mediatek/factory/
mediatek/frameworks/
mediatek/frameworks-ext/
mediatek/hardware/
mediatek/operator/
mediatek/packages/
mediatek/tablet/
mediatek/trustzone/
mediatek/preloader/

